@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{

    text-align: center;
}

h1{
    width: 400px;
    font-family: "Oswald";
    color: lightseagreen;
    font-size: 48px;
    border-radius: 8px;
    border-color: blueviolet;
    border-style: solid;
    background-color: blueviolet;
    margin: 0 auto;
}

body{
    background-image: url("space.jpg");
    color:aliceblue;
}
